.result_para_tag 
{
box-shadow: 5px 5px 5p blue;
font-size: 20px;
}

.copy_right_footer {
position: fixed;
color: green;
bottom: 0;
width: 100%;
background-color: greenyellow;
line-height: 3;
text-align: center;
}

canvas
{
border:5px solid white;
border-radius: 20px;
 box-shadow: 5px 5px 5px green;
    margin-top: 150px;
}